
<div class="post">

    <div class="post-header index">
        <%- partial('artical-header') %>
    </div>

    <% if(item.excerpt) { %>
        <div class="content">
            <%- item.excerpt %>
        </div>
        <a href="<%- url_for(item.path) %>" class="read-more">Read More</a>
    <% } else { %>
        <div class="content">
            <%- item.content %>
        </div>
    <% } %>

</div>