<!--Menu Links and Overlay-->
<div class="menu-bg">
    <div class="menu-container">
        <ul>
            <% for (var i in theme.menu) { %>
            <li class="menu-item">
                <a href="<%- url_for(theme.menu[i]) %>">
                    <%= i %>
                </a>
            </li>
            <% } %>
        </ul>
        <iframe frameborder="no" border="0" marginwidth="0"
            marginheight="0" width=298 height=52
            src="//music.163.com/outchain/player?type=0&id=688474010&auto=1&height=32">
        </iframe>
    </div>
</div>

<!--Hamburger Icon-->
<nav>
    <a href="#menu"></a>
</nav>